%h1= t('.title')
%p= link_to t('.new_authorisation'), new_authorisation_path

%table
  %thead
    %tr
      %th= Authorisation.human_attribute_name :authorised_until
      %th= Authorisation.human_attribute_name :first_name
      %th= Authorisation.human_attribute_name :last_name
      %th= Authorisation.human_attribute_name :email
      %th= Authorisation.human_attribute_name :organisation
      %th{:colspan => 3}= t 'actions'
  
  %tbody
    - for authorisation in @authorisations
      %tr{ :class => cycle(:odd, :even) }
        %td= authorisation.authorised_until
        %td= authorisation.first_name
        %td= authorisation.last_name
        %td= authorisation.email
        %td= authorisation.organisation
        %td.action= link_to t('show'), authorisation
        %td.action= link_to t('edit'), edit_authorisation_path(authorisation)
        %td.action= link_to I18n.t('destroy'), authorisation, :confirm => I18n.t('are_you_sure'), :method => :delete
